lxml
torch
transformers
jieba
requests
harvesttext
pyhanlp
flask
flask-admin
flask_socketio
flask_sqlalchemy
Flask-BabelEx
scikit-learn
wordcloud
matplotlib
config
pymysql
pandas
snownlp
scikit-learn
numpy==1.23.1
pillow==9.5.0
sqlalchemy==1.4.46

