{% extends 'base_login.html' %}

{% block title %}
找回密码
{% endblock %}

{% block content %}
<div class="card-body">
    <div class="auth-logo">
        <img src="https://weibo.com/favicon.ico" class="img-fluid rounded-normal light-logo" alt="logo">
    </div>
    <h3 class="mb-3 font-weight-bold text-center">找回密码</h3>
    <p class="text-center text-secondary mb-4">基于Flask框架的社交平台网络舆情分析系统</p>
    <div class="mb-5">
        <p class="line-around text-secondary mb-0"><span class="line-around-1">请输入以下信息以重置密码</span></p>
    </div>
    <form method="POST" action="/user/retrieve_pwd">
        <div class="row">
            <div class="col-lg-12">
               <div class="form-group">
                  <label class="text-secondary">用户名</label>
                  <input class="form-control" name="username" type="text" placeholder="请输入用户名">
               </div>
            </div>
            <div class="col-lg-12">
               <div class="form-group">
                  <label class="text-secondary">电话号码</label>
                  <input class="form-control" name="phone" type="tel" placeholder="请输入电话号码">
               </div>
            </div>
            <div class="col-lg-12">
               <div class="form-group">
                  <label class="text-secondary">电子邮箱</label>
                  <input class="form-control" name="email" type="email" placeholder="请输入电子邮箱">
               </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">重置密码</button>
        <div class="col-lg-12 mt-3">
            <p class="mb-0 text-center">
                <a href="/user/login">返回登录</a> |
                <a href="/user/register">注册新账号</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}